---
import ServiceInfoWithImage from '../ServiceInfoWithImage/ServiceInfoWithImage.astro';
---

<ServiceInfoWithImage
  title="Na czym polega wymiana szybki?"
  imageSrc="/images/smartphones.jpg"
  imageAlt="Wymiana szybki w telefonie"
>
  <div slot="firstBlock">
    <p>
      Twój rozbity smartfon znacznie <strong>utrudni</strong> korzystanie z ulubionych aplikacji oraz
      Twoją codzienną pracę? <strong>Wymiana szybki w telefonie</strong> rozwiąże ten problem! Wymiana
      szybki w telefonie nazywana jest również <strong>regeneracją</strong> wyświetlacza.
      <strong>Naprawa szybki</strong> w telefonie polega na separacji rozbitej szybki od wyświetlacza,
      na który montowana jest nowa, <strong>wysokiej jakości</strong> szybka zamienna.
    </p>
    <p>
      Naprawa ta jest bardzo korzystna dla klientów, którzy się na nią decydują ze względu na
      <strong>dużo niższą cenę</strong> względem wymiany ekranu. Dzięki usłudze wymiany rozbitej szybki
      koszty mogą obniżyć się nawet o kilkaset złotych. Zaletą naprawy szybki telefonu jest fakt, że
      wyświetlacz telefonu zawsze pozostaje <strong>oryginalny</strong>.
    </p>
  </div>
  <p slot="thirdBlock">
    Pomimo <strong>dodatkowej ochrony</strong> wyświetlacza poprzez szkła hartowane lub folie
    ochronne może zdarzyć się, że <strong>szybka ekranu pęknie</strong>, utrudniając lub uniemożliwiając
    swobodne korzystanie ze smartfona. Wymiana szybki w telefonie przywraca
    <strong>funkcjonowanie ekranu jak sprzed uszkodzenia</strong>. Wybierając serwis SpaceFix masz
    pewność, że wyświetlacz przejdzie wszelkie możliwe <strong>testy</strong> związane z poprawnym
    funkcjonowaniem warstwy dotykowej oraz matrycy.
  </p>
  <p slot="fourthBlock">
    Wykonanie usługi <strong>wymiany szybki w telefonie</strong> jest możliwe jedynie w przypadku,
    kiedy wyświetlacz telefonu <strong>nie jest uszkodzony</strong>. Jeśli zauważysz, że
    <strong>ekran jest sprawny</strong> oraz jego funkcja dotykowa działa bez zastrzeżeń, możesz zlecić
    nam naprawę wymiany szybki telefonu. Jeśli natomiast <strong>wyświetlacz jest rozlany</strong> lub
    pojawiły się na nim <strong>piksele lub pasy</strong>, konieczna będzie
    <strong>wymiana wyświetlacza</strong>.
  </p>
</ServiceInfoWithImage>
